<%- include('header') %>
<form action="/password-reset" method="POST">
  <img src="/images/logo-black.png" alt="" srcset="">
  <h4>Password Reset</h4>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required><br><br>
  
  <input type="submit" value="Submit">
  <p>If you don't have an account, <a href="/register">register here</a>.</p>
</form>
</body>
</html>
