<%- include('header') %>

<div class="container">
  <div class="logo-container">
    <img src="/images/logo-black.png" alt="" srcset="">
  </div>
  
  <form class="register" action="/next" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>


    <button type="submit">Next</button>
    <h5>Have an account? <a href="/login">Sign in</a></h5>
  </form>
</div>

<script>
  function togglePasswordVisibility() {
    const passwordInput = document.getElementById('password');
    const toggleIcon = document.querySelector('.toggle-password');

    if (passwordInput.type === 'password') {
      passwordInput.type = 'text';
      toggleIcon.innerHTML = '&#x1f443;';
    } else {
      passwordInput.type = 'password';
      toggleIcon.innerHTML = '&#x1f441;';
    }
  }
</script>
</body>
</html>
